.page{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
}

.text_animation{
    /* opacity: 0; */
}

.text_animation_start{
  animation: transpend_text 1s;
}

@keyframes transpend_text{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}