@media screen and (max-width: 430px ){

  .m_mission_box{
    display: flex;
    color: black;
    flex-direction: column;
    width: 100vw;
    max-width:430px;
  }

  .m_mission{
    display: none;
  }

  .mission{
    height: calc(299px + 368px); 
    padding: 0;
  }

  .m_mission_target{
    height: 300px;
    background-color: #ffed4c;
    padding: 64px 16px;
    box-sizing: border-box;
    width: 100vw;
    max-width:430px;
  }

  .m_mission_head_text:first-child{
    color: #1A1F24;
    font-size: 22px;
    padding-bottom: 4px;
  }

  .m_mission_text{
    font-size: 16px;
    padding: 0;
  }

  .m_mission_help{
    display: block;
    height: 368px;
    color: white;
    padding: 60px 16px;
    background: linear-gradient(to bottom, #1A1F24, #141719);
    overflow-x: auto;
    box-sizing: border-box;
  }

  .m_mission_head_text{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 34px;
    position: sticky;
    left: 0;
    line-height: 50px;
    letter-spacing: 2%;
  }

  .m_mission_map{
    font-size: 14px;
    padding-bottom: 38px;
    position: sticky;
    left: 0;
    align-items: center;
  }
  .m_mission_text_list{
    display: flex;
    list-style: none;
    scroll-behavior: smooth;
    height: 58px;
  }
  .m_mission_help::-webkit-scrollbar{
    display: none;
  }
  .m_mission_text_list li{
    flex-shrink: 0;
    padding-right: 16px;
    display: flex;
    align-items: center;
  }  
  
  .head{
    font-size: 22px;
    color: white;
    font-weight: bold;
  }

  .num{
    color: #ffed4c;
    font-size: 80px;
    font-weight: 600;
    padding-right: 20px;
    transition: color 50ms linear;
  }

  .num:first-child{
    padding-left: 8px;
  }

  .m_mission_text_list li:nth-child(2) .num{
    padding-left: 24px;
  }

  .text{
    height: 58px;
    letter-spacing: 3%;
  }
}