.m_mission_box{
  display: none;
}

.mission{
  display: flex;
  color: white;
  background: linear-gradient(to top, #191f24 , #14171a);
  height: 643px;  
  padding: 0 120px;
}

.mission_box{
  padding-top: 98px;
  width: 100%;
}

.mission_head_text{
  letter-spacing: 3%;
  font-size: 28px;
  padding-bottom: 13px;
}

.mission_head_text:first-child{
   color: #FFED4C;
   font-size: 40px;
}

.mission_text{
  font-size: 27px;
  letter-spacing: 5%;
  width: 1080px;
  line-height: 40px;
}

.mission_text_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  margin-left: 36px;
}

.mission_line{
  margin: 60px 0;
  background-color: white;
  color: white;
  height: 1px;
  border: none;
}