.mission{
  display: flex;
  color: white;
  background: linear-gradient(to top, #191f24 , #14171a);
  height: 643px;  
  padding: 0 12%;
}

.mission_box{
  padding-top: 8.8%;
  padding-bottom: 128px;
  width: 100%;
}

.mission_head_text{
  font-size: 40px;
  padding-bottom: 16px;
}

.mission_head_text:first-child{
   color: #FFED4C;
}

.mission_text{
  font-size: 24px;
}

.mission_text_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  margin-left: 24px;
}

.mission_line{
  margin: 60px 0;
  background-color: white;
  color: white;
  height: 1px;
  border: none;
}