.marquee-wrapper {
  /* overflow: hidden; */
  /* position: relative; */
}

.marquee-wrapper:after {
  /* position: absolute; */
  content: ' ';
  right: 0;
  top: 0;
  height: 100%;
}

.marquee {
  white-space: nowrap;
}