.footer{
  display: flex;
  flex-direction: column;
  height: 375px;
  background:linear-gradient(to top,#323C45,#262A2D);
  color: white;
  font-size: 18px; 
}

.footer_box{
  display: flex;
  flex-direction: row;
  padding: 64px 8%;
}

.footer_social{
  height: 184px;
  width: 32%;
  padding-right: 2%;
}
.footer_social_logo{
  height: 21px;
  width: 180px;
  padding-bottom: 16px;
}

.footer_social_contacts{
  padding-bottom: 16px;
}
.footer_social_contacts p:first-child {
  padding-bottom: 15px;
  text-decoration: underline;
}

.footer_social_icon{
  padding-right: 16px;
  height: 36px;
  width: 36px;
  text-decoration: none;
}
.footer_social_icon:first-child{
  padding-right: 16px;
}

.footer_adress{
  list-style: none;
  width: 32%;
  height: 210px;
  padding-right: 2%;
}

.footer_adress p{
  padding-bottom: 14px;
}

.footer_adress p:nth-child(5){
  padding-bottom: 18px;
}

.footer_nav{
  width: 115px;
  list-style: none;
  width: 32%;
}
.footer_nav li:first-child{
  padding-bottom: 18px;
  font-weight:bold ;
  text-transform: uppercase;
}
.footer_nav a{
 list-style: none;
 text-decoration: none;
 color: white;
}

.credit{
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  align-items: center;
  height: 42px;
  background-color: #1A1F24;
  font-size: 12px;
  opacity: 65%;
  color: white;
  text-decoration: none;
}