.usp{
    background-color: #191f24;
    height: 1280px;
    padding-top: 80px;
}

.usp_box{
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(../../images/About_UTP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1116px;
  padding: 0 8%;


}

.usp_text{
  height: 156px;
  color: white;
  font-size: 40px;
  padding-bottom: 128px;
}
.m_usp_map{
  display: none;
}