.values{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 927px;
  background-image: url(../../images/About_values.jpg);background-repeat: no-repeat;
  background-size: cover;
}
.values_text_box{
  color: white;
  width: 500px;
  height: 235px;
  padding-left: 50%;
}
.values_text_box:nth-child(2)
{
  padding-bottom: 32px;
  padding-top: 32px;
}

.values_text{
font-size: 24px ;
margin-left: 24px;
}

.values_text_head{
  font-size: 28px;
  padding-bottom: 12px;
}