.contacts{
  height: 736px;
  background-image: url(../../images/Contacts.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #181D22;
}

.contacts_box{
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  gap: 24px;
}

.contacts_box ul{
  width: 360px;
}

.contacts_text{
  color: white;
  padding-top: 64px;
  font-size: 40px;
  font-weight: bold;
  width: 48%;
  padding-right: 6.7%;
}

.contacts_text__list{
  font-size: 24px;
  list-style: none;
  font-weight: 100;
}

.contacts_text__list{
}

.contacts_text__list:first-child{
  font-weight: bold;
  padding-bottom: 24px;
}
.contacts_text__list:nth-child(3){
  padding-bottom: 24px;
  font-weight: bold;
}

.contacts_text__list a{
  text-decoration: none;
  color: #ffed4c;
}

.contacts_map{
  width:58% ;
  height: 530px;
  background-color: grey;
  margin-top: 52px;
  padding: 0;
}