.header{
  display: flex;
  align-items: center;
  height: 96px;
  position: fixed;
  color: white;
  width: 76%;
  padding: 0 12%;
  font-size: 28px;
  font-weight: 600;
  justify-content: space-between;
}

.header_background{
    background-color: #181d22;
}
.header_background_transparent{
    background-color: transparent;
}

.header_logo img{
  height: 22px;
  width: 190px;
}

.header a{
  color: white;
  text-decoration: none;
}

.menu{
  font-size: 24px;
  font-weight: normal;
}

.menu a{
  padding-left: 24px;
}

.link_change{

}

@keyframes link_underline{
  from{opacity: 0;}
  to{opacity: 100;}
}
