@media screen and (max-width: 430px ){

  .desctop_header{
    display: none;
  }

  .m_header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  } 

  .header{
    height: 56px;
    align-content: center;    
    position: fixed;
    color: white;
    width: 100%; 
  }

  .header_logo{
    height: 22px;
    width: 190px;
    z-index: 1;
  }

  .burger_but {
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    display: flex;
  }

  .burger_but span,
  .burger_but span::before,
  .burger_but span::after {
    align-self: center;
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .burger_but span::before {
    top: -8px; 
  }
  .burger_but span::after {
    top: 8px; 
  }



  .burger_but.clicked span {
    background: transparent;
  }

  .burger_but.clicked span::before {
    transform: rotate(45deg);
    top: 0;
  }

  .burger_but.clicked span::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .m_header_popup_menu{    
    display: flex;
    flex-direction: column;
    background-color: #1A1F24;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 84px 16px;
    animation: close_right-down 300ms linear forwards;
  }

  .popup_open{
    visibility: visible;
    border-radius: 0%;
    animation: open_right-down 300ms ease-in-out;
  }

  .m_header_popup_menu ul{
    list-style: none;
  }

  .popup_menu{
    display: flex;
    flex-direction:column;
    padding: 0;
    margin: 0;
    gap: 16px;
    padding-bottom: 48px;
    font-size: 38px;
  }

  .popup_tel{
    color: #FFED4C;
    font-size: 22px;
  }

  .popup_contact{
    font-size: 22px;
    font-weight: normal;
    padding: 16px 0;
  }

  .popup_social_icon{
    width: 36px;
    height: 36px;
  }
  .popup_social_icon:first-child{
    padding-right: 12px ;
  }



  @keyframes open_right-down {
    0%{
      transform: translateY(-150vh) translateX(100vw) ;
      border-radius: 50%;    
    }
    50%{
      border-radius: 50%;  
    }
    100%{
      transform: translateY(0) translateX(0) ;
      border-radius: 0;      
      visibility: visible;
    }    
  }
  
  @keyframes close_right-down {
    0%{
      transform: translateY(0) translateX(0) ;
      border-radius: 0;
    }
    50%{
      border-radius: 50%;  
    }
    100%{   
      transform: translateY(-150vh) translateX(100vw) ;
      border-radius: 50%;  
      visibility: hidden;   
    }    
  }
}


